html {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1024px;
    margin: auto;
}


/* - - - BUTTONS - - - */

.cta--small {
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.9em;
    padding: 8px 12px;
}

.cta--big {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1.2em;  
}

[class^="cta-"]:hover {
    color: white;
    background-color: #e93e3e;
}

.cta--light {
    background-color: white;
    color: #1C1B29;
}

.cta--dark {
    color: white;
    background-color: #1C1B29;
}

.cta--malva {
    background-color: #8EA1E1;
    color: white;
}


/* - - - HEADER - - - */

header {
    color: white;
}

header section {
    background-image: url(/img/jumbo.png);
    background-position: center;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* height: 500px; */
}

header nav.row {
    padding: 20px 0;
    z-index: 999;
}

header .row div {
    float: left;
}

header .logo, header .cta {
    width: 15%;
}

header .navbar {
    width: 70%;
}

header .logo img {
    display: block;
}

header ul {
    list-style: none;
    text-align: center;
    font-size: 0;
}

header li {
    padding-right: 30px;
    display: inline-block;
    font-size: 14px;
}

header li:last-child {
    padding-right: 0;
}

header li a {
    color: white;
    font-weight: 500;
}

header li a:hover {
    color: black;
}

header li, header nav .cta {
    line-height: 34px;
}

header nav .cta {
    text-align: right;
}

header div.row {
    height: calc(500px - 38px - 20px - 20px);
    /* possibile modifica? */
    position: relative;
}

header div.row .col-12 {
    text-align: center;
    padding: 0 15%;
}

/* ---------------------------------- */

header div.row h1 {
    font-size: 3.4em;
    margin-bottom: 40px;
}

header div.row p {
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 20px;
}

header div.row .cta {
    width: 100%;
}

header div.row .cta a {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1.2em;
}

header div.row .cta a:first-child {
    margin-right: 20px;
}


/* - - - MAIN - - - */

main section {
    padding: 200px 0;
}

main [class^="col-"]:first-child {
    margin-right: calc(100% / 12);
}

main .col-12 {
    text-align: center;
}

main .col-12 h3, main .col-12 p {
    padding: 0 30px;
}

main [class^="col-"] img {
    width: 100%;
    object-fit: contain;
    display: block;
}

main [class^="col-"] h2 {
    font-size: 3.1em;
    font-weight: 900;
    margin-bottom: 20px;
}

main [class^="col-"] p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

main [class^="col-"] h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}

.stars-bg {
    width: 50%;
    margin: auto;
    background-image: url(/img/stars.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
}


/* - - - WAVY BG - - - */

.wavy:not(.wavy:last-of-type)::after {
    content: "";
    display: block;
    background-image: url("/img/wave.svg");
    width: 100%;
    height: 100px;
    transform: rotate(180deg);
    position: absolute;
    bottom: -100px;
    opacity: 0.1;
}

.wavy::before {
    content: "";
    display: block;
    background-image: url("/img/wave.svg");
    width: 100%;
    height: 100px;
    position: absolute;
    top: -100px;
    opacity: 0.1;
}

.wavy-body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: -1;
    opacity: 0.1;
}

.wavy {
    position: relative;
}


/* - - - FOOTER - - - */

footer section {
    padding-bottom: 70px;
}

footer section, footer select {
    background-color: #23272A;
    color: white;
}

footer .row {
    padding-top: 70px;
}

footer h4 {
    font-size: 2em;
    font-weight: 900;
    color: #7289DA;
    margin-bottom: 30px;
}

footer .col-4 {
    padding-right: 60px;
}

.flag-ita img {
    width: 22px;
}

select {
    border:none;
    margin-bottom: 30px;
    font-size: 1.2em;
}

footer .social a i {
    color: white;
    padding-right: 20px;
}

footer .social a i:hover {
    color: #e93e3e;
}

footer h5 {
    font-size: 1.2em;
    font-weight: bold;
    color: #7289DA;
}

footer h5, footer li {
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
}

footer li a {
    color: white;
}

footer li a:hover {
    color: #e93e3e;
}

footer .row .logo, footer .row .cta {
    float: left;
}

footer .logo, footer .cta {
    width: 50%;
}

footer .logo  img{
    display: block;
}

footer .cta {
    line-height: 34px;
}

footer .cta {
    text-align: right;
}

footer .row:first-of-type {
    padding-bottom: 30px;
    border-bottom: 1px solid #8EA1E1;
}

footer .row:last-of-type {
    padding-top: 30px;
}