@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.v-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* _ _ _ _ _ _ _  */

html {
    scroll-behavior: smooth;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100%;
    height: 500px;
}

.container {
    width: 1024px;
    margin: auto;
}

a {
    text-decoration: none;
}


/* - - - HEADER - - - */

header section {
    background-image: url(/img/jumbo.png);
    background-position: center;
    background-size: cover;
}

header nav.row {
    padding: 20px 0;
}

header .row div {
    float: left;
}

header .logo, header .cta {
    width: 15%;
}

header .logo {
    font-size: 0;
}

header .navbar {
    width: 70%;
}

header ul {
    list-style: none;
    text-align: center;
    font-size: 0;
}

header li {
    padding-right: 30px;
    display: inline-block;
    font-size: 14px;
}

header li a {
    color: white;
    font-weight: 500;
}

header li, header .cta {
    line-height: 34px;
}

header .cta {
    text-align: right;
}

header .cta a {
    color: black;
    padding: 8px 12px;
    background-color: white;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.9em;
}

header .cta a:hover {
    color: white;
    background-color: black;
}

header .navbar li:last-child {
    padding-right: 0;
}


.col-9 {
    width: calc(100% * 9 / 12);
    background-color: white;
    /* margin: auto; */
}







/* - - - DEBUG - - - */

body.debug-spacing {
    padding: 30px;
}

.debug header, .debug main, .debug footer {
    border: 3px solid red;
}

.debug-bgc header, .debug-bgc main, .debug-bgc footer {
    background-color: rgb(245, 181, 145);
}

.debug-spacing header, .debug-spacing main, .debug-spacing footer {
    min-height: 50px;
    padding: 30px;
    margin-bottom: 30px;
}

.debug section {
    border: 3px dashed black;
}

.debug-bgc section {
    background-color: rgb(253, 253, 171);
}

.debug-spacing section {
    padding: 30px;
    margin-bottom: 30px;
}

.debug-spacing section:last-child {
    margin-bottom: 0;
}

.debug .container {
    border: 1px solid black;
}

.debug-bgc .container {
    background-color: rgb(141, 199, 141);
}

.debug-spacing .container {
    padding: 30px;
    margin-bottom: 30px;
}

.debug-spacing .container:last-child {
    margin-bottom: 0;
}

.debug-spacing header .container {
    min-height: 30px;
}

.debug-spacing .jumbotron .container {
    min-height: 400px;
}

.debug .container > * {
    border: 1px solid black;
}

.debug-bgc .container > * {
    background-color: lightblue;
}

.debug-bgc .container .col {
    background-color: rgb(221, 126, 213);
}

.debug-spacing .col {
    min-height: 50px;
    margin-top: 20px;
}

.debug-spacing .row {
    padding: 30px;
}

.debug .col {
    border: 2px dotted blue;
}

.debug-spacing .content__header {
    min-height: 50px;
}

.debug-spacing .col-3, .debug-spacing .col-6 {
    min-height: 400px;
}