@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.v-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* _ _ _ _ _ _ _  */

html {
    scroll-behavior: smooth;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

section {
    width: 100%;
}

.container {
    width: 1024px;
    margin: auto;
}

a {
    text-decoration: none;
}


/* - - - HEADER - - - */

header section {
    background-image: url(/img/jumbo.png);
    background-position: center;
    background-size: cover;
    height: 500px;
}

header nav.row {
    padding: 20px 0;
    z-index: 999;
    /* position: sticky;
    top: 0; */
}

header .row div {
    float: left;
}

header .logo, header .cta {
    width: 15%;
}

header .navbar {
    width: 70%;
}

header .logo {
    display: block;
}

header ul {
    list-style: none;
    text-align: center;
    font-size: 0;
}

header li {
    padding-right: 30px;
    display: inline-block;
    font-size: 14px;
}

header li:last-child {
    padding-right: 0;
}

header li a {
    color: white;
    font-weight: 500;
}

header li a:hover {
    color: black;
}

header li, header nav .cta {
    line-height: 34px;
}

header nav .cta {
    text-align: right;
}

header .cta-accedi {
    color: black;
    padding: 8px 12px;
    background-color: white;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.9em;
}

header .cta-accedi:hover {
    color: white;
    background-color: black;
}

header div.row {
    height: calc(500px - 38px - 20px - 20px);
    position: relative;
}

.col-9 {
    width: calc(100% * 8 / 12);
    text-align: center;
}

header div.row h1 {
    color: white;
    font-size: 3.4em;
    margin-bottom: 40px;
}

header div.row p {
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 20px;
}

header div.row .cta {
    width: 100%;
}

header div.row .cta a {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1.2em;
}

header div.row .cta a:first-child {
    margin-right: 20px;
}

.cta-download {
    background-color: white;
    color: #1C1B29;
}

.cta-open {
    color: white;
    background-color: #1C1B29;
}

[class^="cta-"]:hover {
    color: white;
    background-color: #e93e3e;
}


/* - - - MAIN - - - */

main section {
    padding: 100px 0;
    /* border: 1px solid red; */
}

main [class^="col-"] {
    float: left;
    /* background-color: orange;
    border: 1px solid black; */
}

main [class^="col-"]:first-child {
    margin-right: calc(100% / 12);
}

main .col-4 {
    width: calc(100% * 4 / 12);
}

main .col-7 {
    width: calc(100% * 7 / 12);
}

main .col-12 {
    width: 100%;
    text-align: center;
}

main .col-12 h3, main .col-12 p {
    padding: 0 30px;
}

main [class^="col-"] img {
    width: 100%;
    object-fit: contain;
    display: block;
}

main [class^="col-"] h2 {
    font-size: 3.1em;
    font-weight: 900;
    margin-bottom: 20px;
}

main [class^="col-"] p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

main [class^="col-"] h3 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 30px;
}

main [class^="col-"] .cta-download {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 30px;
    font-weight: 500;
    font-size: 1.2em;  
}

main .cta-download {
    background-color: #8EA1E1;
    color: white;
}

main .cta-download:hover {
    background-color: #e93e3e;
}

.stars-bg {
    width: 50%;
    margin: auto;
    background-image: url(/img/stars.svg);
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
}




/* - - - DEBUG - - - */

body.debug-spacing {
    padding: 30px;
}

.debug header, .debug main, .debug footer {
    border: 3px solid red;
}

.debug-bgc header, .debug-bgc main, .debug-bgc footer {
    background-color: rgb(245, 181, 145);
}

.debug-spacing header, .debug-spacing main, .debug-spacing footer {
    min-height: 50px;
    padding: 30px;
    margin-bottom: 30px;
}

.debug section {
    border: 3px dashed black;
}

.debug-bgc section {
    background-color: rgb(253, 253, 171);
}

.debug-spacing section {
    padding: 30px;
    margin-bottom: 30px;
}

.debug-spacing section:last-child {
    margin-bottom: 0;
}

.debug .container {
    border: 1px solid black;
}

.debug-bgc .container {
    background-color: rgb(141, 199, 141);
}

.debug-spacing .container {
    padding: 30px;
    margin-bottom: 30px;
}

.debug-spacing .container:last-child {
    margin-bottom: 0;
}

.debug-spacing header .container {
    min-height: 30px;
}

.debug-spacing .jumbotron .container {
    min-height: 400px;
}

.debug .container > * {
    border: 1px solid black;
}

.debug-bgc .container > * {
    background-color: lightblue;
}

.debug-bgc .container .col {
    background-color: rgb(221, 126, 213);
}

.debug-spacing .col {
    min-height: 50px;
    margin-top: 20px;
}

.debug-spacing .row {
    padding: 30px;
}

.debug .col {
    border: 2px dotted blue;
}

.debug-spacing .content__header {
    min-height: 50px;
}

.debug-spacing .col-3, .debug-spacing .col-6 {
    min-height: 400px;
}